
#second{
  background: #354b5d;
  min-height: 100vh;
  z-index: 1;
  padding-bottom: 20px;
}
#images{
  z-index: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#fi{
  right: 500px;
  position: relative;
}
#se{
  right: 380px;
  position: relative;
}
.btns-container {
  display: flex;


}

#content-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10%;
  gap: 10px;
}
.btns{
  display: flex;
  border: 1px solid #e9e9d0;
  align-items: center;
  padding: 5px;
  border-radius: 10px;

  cursor: pointer;
  transition: all ease 0.5s;
}
.btns p {
  margin: auto;
}
.btns:hover{
  p {
    color: #354b5d;
  }
  box-shadow: 1px 1px 10px black;
  background: #e9e9d0;
}


#ot{
  width: 100%;
  /* height: 600px; */
  background-color: rgba(255, 255, 255, 0.911);
  color: #da7b48;
}
#ic{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
  width: 100%;
}
.kc{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px ;
  width: 300px;
  text-align: center;
}
#pbtn{
  border: 2px solid #da7b48;
  padding: 20px;
  font-size: 1rem;
  color: #d86a30;
  background-color: transparent;
  transition: ease all 0.5s;
}
#pbtn:hover{
  background-color: #d86a30;
  color: white;
}

#ou{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  padding-bottom: 100px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -25%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.349);
  transition: all ease 0.5s;
}
#tr{
  position: fixed;
  width: 50%;
  height: 140px;
  left: 25%;
  top: 35%;
  z-index: 2;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}
#dec{
  display: flex;
  gap: 20px;
  margin-top: 2%;
  margin-left: 2%;
}
#dec button{
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
}
#tu{
  position: fixed;
  width: 50%;
  height: 43%;
  left: 25%;
  top: 25%;
  z-index: 2;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}
#ca{
  width: 50%;
  text-align: center;
  margin: auto;
}
