
<app-header-log/>

<div id="second" >
  <h1 style="padding: 60px;">Olá {{user?.nomeUsuario}} Bem-Vindo ao Mediar</h1>
  <div class="btns-container"> <!-- essa div guarda os botões iniciais-->
    <div id="outraF" style="display: flex;margin-right: 3%;margin-left: 5%;width: 40%;">
      <img width="100%" style="border-radius: 10px;"
      src="assets/Images/fotoCoisasJudicial.png" alt="">
    </div>
    <div id="content-box" *ngIf="user">
      <h1>Conheça Nossos Serviços</h1>
      <div *ngIf="user.tipoDeConta == 'USUARIO' " routerLink="/agendar/{{user.id}}" class="btns">
        <!-- <img src="assets/icons/meeting_4029413.png" width="70px"> -->
        <p>Agendar Uma Reunião</p>
      </div>
      <div *ngIf="user.tipoDeConta == 'USUARIO' " routerLink="/lista/{{user.id}}" class="btns">
        <!-- <img src="assets/icons/meeting_4029413.png" width="70px"> -->
        <p>Procurar Um Profissional Mediador</p>
      </div>
      <div *ngIf="user.tipoDeConta == 'MEDIADOR' " (click)="abrirCaixaEnviar()" class="btns">
        <!-- <img src="assets/icons/meeting_4029413.png" width="70px"> -->
        <p>Contactar um Usuario Pela Primeira Vez</p>
      </div>
      <div routerLink="/mensagens/{{user.id}}" class="btns">
        <!-- <img src="assets/icons/message_4129700.png" width="70px" -->
        <p>Mensagens</p>
      </div>
      <div class="btns" (click)="abrirCaixaProcesso()">
        <!-- <img src="assets/icons/hourglass_4992427.png" width="70px"> -->
        <p>Andamento de Processos</p>
      </div>
      <div class="btns" routerLink="/historico/{{user.id}}" >
        <!-- <img src="assets/icons/text_2878671.png" width="70px"> -->
        <p>Histórico de Processos</p>
      </div>
      <div class="btns" style="padding:20px;" routerLink="/chatIa/{{user.id}}">
        <p>Chat Com Inteligência Artificial</p>
      </div>
      <div class="btns" style="padding:20px;">
        <p>Preciso De Ajuda ou Reportar Algo</p>
      </div>
      <p>A justiça nunca será feita até aqueles que não são afetados se indignarem como os que são. <br>
        "Benjamin Franklin"
      </p>
    </div>

  </div>
</div><!-- Fim da div second-->

<div id="ou" *ngIf="trigger">
  <div id="tr">
    <div style="display: flex;flex-direction: column;margin: 10px;">
      <label style="font-size: 1.1rem;" for="iden">Digite o Numero de identificação do processo</label>
      <input style="width:87%;padding: 10px;border: 1px solid grey;border-radius: 5px;margin-top: 5px;"
        type="text" id="iden" [(ngModel)]="numeroProcesso">
    </div>
    <div id="dec">
      <button style="background-color: rgba(255, 0, 0, 0.63);" (click)="abrirCaixaProcesso()">Cancelar</button>
      <button style="background-color: rgba(0, 128, 0, 0.616);" (click)="irParaAndamento()">Continuar</button>
    </div>
  </div>
</div>
<div id="ou" *ngIf="triggerM">
  <div id="tu">
    <p id="mens">Sinto Muito Mas este Recurso Não está Disponível Para Celulares</p>
    <p id="pa" style="margin: 5px; color: #e9e9d0 ;">* Depois de Enviar esta mensagem, o usuario que você contatou estará disponível na sua aba de mensagens</p>
    <div style="display: flex;flex-direction: column;margin: 10px;">
      <label style="font-size: 1.1rem;" for="iden">Digite o Numero de identificação(ID) do Usuario</label>
      <input style="width:97%;padding: 10px;border: 1px solid grey;border-radius: 5px;margin-top: 5px;"
        type="text" id="iden" [(ngModel)]="mensagem.destinatario">
      <label style="font-size: 1.1rem;" for="iden">Digite a Sua Mensagem Inicial</label>
      <input style="width:97%;padding: 10px;border: 1px solid grey;border-radius: 5px;margin-top: 5px;"
        type="text" id="iden" [(ngModel)]="mensagem.conteudo">
    </div>
    <div id="dec">
      <button style="background-color: rgba(255, 0, 0, 0.63);" (click)="abrirCaixaEnviar()">Cancelar</button>
      <button id="ac" style="background-color: rgba(0, 128, 0, 0.616);" (click)="enviarMensagemPrimeirVez()">Continuar</button><p>Ou</p>
      <button id="cb" style="background-color: rgba(0, 128, 0, 0.616);" routerLink="/lista/{{user?.id}}">Encontrar Usuario Por Seu Nome</button>
    </div>
  </div>
</div>
<div id="ou" style="background-color: rgba(0, 0, 0, 0.700);" *ngIf="!carregado">
  <div id="ca" style="color: white;z-index: 3;margin-top: 20%;">
    <h1>Carregando ...</h1>
  </div>
</div>

