
section{
  background: #131B2B ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
button{
  background: transparent;
  border: 1px solid #e9e9d0;
  padding: 10px;
  border-radius: 5px;
  transition: all ease 0.5s;
}
button:hover{
  background: #e9e9d0;
  color: #131B2B;
}
