<!-- teladelogin.component.html -->
<section>
  <header>
    <img src="assets/Images/Prancheta 1.png" alt="" width="240px">
  </header>

  <main>
    <h1>Bem-Vindo</h1>

    <div class="cad-con">
      <label for="cpf">CPF do Usuario</label>
      <!-- Vinculando o input ao componente com [(ngModel)] -->
      <input id="cpf" type="text" placeholder="Digite Seu CPF" [(ngModel)]="cpf" name="cpf"/>

      <label for="senha">Digite sua Senha</label>
      <!-- Vinculando o input ao componente com [(ngModel)] -->
      <input id="senha" type="password" placeholder="Senha" [(ngModel)]="senha" name="senha"/>

      <p style="font-size: 0.9rem;">Ainda não Possui uma Conta:
        <u style="cursor: pointer;" routerLink="/cadastro">Clique Aqui</u>
      </p>

      <!-- Chama o método onLogin ao clicar no botão -->
      <button class="final-btn" (click)="onLogin()">Entrar na Minha Conta</button>
    </div>
  </main>

  <footer>
  </footer>
</section>
