<app-header-log/>
<section>

  <h1 style="text-align: center;">Abertura De Processo</h1><br>
  <div class="cad-con">
    <label for="dado">Digite Algum dado Do Acusado Para Entrarmos em Contato :</label>
    <input id="dado" [(ngModel)]="processo.dadosAcusado" type="text" placeholder="Digite algum dado ou informação sobre o acusado"/>

    <label for="nome">Digite o Nome Do Acusado :</label>
    <input id="nome" [(ngModel)]="processo.nomeReu" type="text" placeholder="Digite o Nome da Pessoa que Você Está acusando"/>

    <label for="ema">Digite Seu Email de Contato :</label>
    <input id="ema" [(ngModel)]="processo.emailAutor" value="{{user?.email}}" type="text" placeholder="Digite Seu Email"/>

    <label for="cpf">Seu CPF :</label>
    <input style="border: 1px solid rgba(128, 128, 128, 0.541);" id="cpf" disabled value="{{user?.cpf}}" type="text" placeholder="CPF DO AUTOR"/>

    <label for="end">Digite Seu Endereço :</label>
    <input id="end" [(ngModel)]="processo.comprovanteResidencia" type="text" placeholder="Seu Endereço Não Pode Conter Abreviações"/>

    <label for="nau">Nome Do Autor Do Processo :</label>
    <input id="nau" [(ngModel)]="processo.nomeAutor" type="text" placeholder="Digite Seu Nome Completo"/>

    <div id="esc">
      <label for="options">Seu Processo Se Classificaria como Urgente ?</label>
      <select id="options" [(ngModel)]="processo.urgencia">
        <option value="true">Sim </option>
        <option value="false">Não</option>
      </select>
    </div>

    <label for="acu">* Escreva sua acusação com detalhes e justifique a abertura deste processo </label>
    <textarea style="resize: none" name="acusacao" [(ngModel)]="processo.descricaoAcusacao" id="acu"></textarea>

    <button class="final-btn" (click)="enviarProcesso()">Enviar Meu Processo</button>
  </div>
</section>
<app-footer-s/>