section{
  min-height: 100vh;
  background-color:#131B2B;
}

#butn{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  transition: ease all 0.5s;
}
#butn:hover{
  text-decoration: underline;

}
#acu{
  height: 130px;
  border: none;
  border-radius: 6px;
}
#esc{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#options{
  border: none;
  border-radius: 10px;
  padding: 10px;
}


.cad-con{
  box-shadow: 1px 1px 6px black;
  background-color:#354b5d;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  display: flex;
}
.cad-con input{
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: transparent;
  border: 1px solid #e9e9d0;
}
input::placeholder{
  color: #e9e9d0ad;
}
select{
  background: #4f718d;
  border: 1px solid #e9e9d0;
}
option{
  background: #131B2B;
}
textarea{
  background: #4f718d;

}

.final-btn{
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(21, 129, 39);
  color: white;
  transition: ease all 0.4s;
}
.final-btn:hover{
  background-color: rgb(133, 202, 145);
}


@media (max-width: 768px) {
  .cad-con{
    width: 80%;
  }
}
