<section>
  <div routerLink="/home-log/{{user?.id}}" id="butn">
    <img routerLink="/home-log/{{user?.id}}" src="assets/icons/undo_15093184.png" width="40px">
    <b routerLink="/home-log/{{user?.id}}">Voltar</b>
  </div>
  <div id="all-content" >

    <div id="left">

      <div id="people">
        <div id="label-people">
            <label for="people"><b>Pessoas</b></label>
        </div>
        <div id="contact-people" *ngFor="let item of user?.contatos" (click)="contatoSelect(item.contato.nomeUsuario,item.contato.id)">
          <div id="contact">
              <img src="assets/icons/account_2040484.png" alt="user" height="30px">
          </div>
          <div id="info">
            <div id="info-separator">
              <div id="name" style="padding-bottom: 5px;margin-top: 5px;">
                  {{item.contato.nomeUsuario}}
              </div>
            </div>
            <div id="info-separator2">
              <div id="msg-ntfy">
                <div id="msg-ntfy-MSG">
                    <h5>{{item.contato.email}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="message" >
      <nav style="margin-bottom: 10px;" *ngIf="contatoSelecionado && selecionado">

        <div id="separator">
          <img src="assets/icons/account_2040484.png" alt="" height="45px">
          <div id="name-status">
            <label for="img" style="font-size: 1.5rem;">{{contatoSelecionado}}</label>
            <h5>status</h5>
          </div>
        </div>

      </nav>

      <main style="overflow: auto;">
        <div *ngIf="selecionado">
          <div id="chatbox" *ngIf="mensagens && mensagens.length > 0">
            <!-- Loop through mensagens and display them based on sender and recipient -->
            <div *ngFor="let men of mensagens">
              <!-- My messages -->
              <div *ngIf="men.remetente.nomeUsuario === user?.nomeUsuario">
                <div class="my-message">
                  <p>{{ men.conteudo }}<br><span style="font-size: 0.7rem;">{{ men.dataEnvio | date:'dd/MM/yyyy HH:mm' }}</span></p>
                </div>
              </div>

              <!-- Other person's messages -->
              <div *ngIf="men.remetente.nomeUsuario !== user?.nomeUsuario">
                <div class="other-message">
                  <p>{{ men.conteudo }}<br><span style="font-size: 0.7rem;">{{ men.dataEnvio | date:'dd/MM/yyyy HH:mm' }}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>



      <footer *ngIf="selecionado">
        <div id="footer-area">
          <div id="text-container">
            <input type="text" [(ngModel)]="enviarMen.conteudo" placeholder="Digite a Sua Mensagem Aqui" style="overflow-wrap: break-word;">
          </div>
          <div id="button">
            <button (click)="enviarMensagem()" type="button"><img src="assets/icons/1373410.png" alt="" height="35px"></button>
          </div>
        </div>
      </footer>

    </div>

  </div>
</section>
