<section>

  <header>
    <img routerLink="/" style="cursor: pointer;" src="assets/Images/Prancheta 1.png" alt="" width="240px">
  </header>

  <main >
    <h1>Faça Seu Cadastro</h1>

    <div id="cad-box" *ngIf="!choosed">
      <h2 style="padding-left: 10px;">Que Tipo de Conta Você Deseja Criar ?</h2>
        <button value="NORMAL" #normal (click)="accounttype(normal.value)" style="color: black;">Conta Comum</button>
        <button value="MEDIADOR" #mediador (click)="accounttype(mediador.value)" style="color: black;">Eu Sou Um Mediador</button>
    </div>

    <div class="cad-con" *ngIf="choosed && acountD == 'NORMAL'">
      <label for="nome">Digite seu nome de usuario</label>
      <input id="nome" [(ngModel)]="usuario.nomeUsuario" required="Preencha este Campo" type="text" placeholder="Seu Nome Não Pode Ser Fictício"/>

      <label for="cpf">Digite Seu CPF (Apenas Numeros)</label>
      <input id="cpf" [(ngModel)]="usuario.cpf" type="text" placeholder="CPF (Somente Números)" [maxLength]="11"/>

      <label for="senha">Crie Uma Senha</label>
      <input id="senha" [(ngModel)]="usuario.senha" type="text" placeholder="Crie Uma Senha De Alta Complexidade"/>

      <label for="email">Qual Seu Email ?</label>
      <input id="email" [(ngModel)]="usuario.email" type="text" placeholder="Digite seu Email"/>

      <!-- <label for="nascimento">Qual a Sua Data de Nascimento ?</label>
      <input id="nascimento" type="date"/> -->

      <p>Escolheu a Conta Errada ? <u (click)="backtochoose()">Clique Aqui</u></p>

      <button class="final-btn" (click)="criarUsuario()">Criar Minha Conta</button>
    </div>

    <div class="cad-con" *ngIf="choosed && acountD=='MEDIADOR' ">
      <label for="nome">Digite seu nome Como Mediador</label>
      <input id="nome" [(ngModel)]="mediador.nomeUsuario" type="text" placeholder="Seu Nome Não Pode Ser Fictício"/>

      <label for="cpf">Digite Seu CPF</label>
      <input id="cpf" [(ngModel)]="mediador.cpf" type="text" placeholder="CPF (Somente Números)" [maxLength]="11"/>

      <label for="senha">Crie Uma Senha</label>
      <input id="senha" [(ngModel)]="mediador.senha" type="text" placeholder="Crie Uma Senha De Alta Complexidade"/>

      <label for="nascimento">Qual a Sua Cidade de Atuação ?</label>
      <input id="nascimento" placeholder="Digite a Cidade Onde Você Atua" [(ngModel)]="mediador.cidadeAtuacao" type="text"/>

      <label for="nascimento">Qual a Seu Email ?</label>
      <input id="nascimento"  placeholder="Digite Seu Email" [(ngModel)]="mediador.email" type="text"/>

      <label for="nascimento">Qual Seu Titulo de Graduação ?</label>
      <select [(ngModel)]="mediador.titulacaoGraduacao" required="Você Não Pode Deixar este Campo em Branco" name="" id="n">
        <option value="Doutorado">Doutorado</option>
        <option value="Mestrado">Mestrado</option>
        <option value="Tecnólogo">Tecnólogo</option>
        <option value="Graduação">Graduação</option>
        <option value="Ensino Médio">Ensino Médio</option>
      </select>

      <label for="nascimento">Em Qual Tribunal Você Atua ?</label>
      <select [(ngModel)]="mediador.tribunalAtuacao" required="Você Não Pode Deixar este Campo em Branco" name="" id="t">
        <option value="TODOS">Todos</option>
        <option value="ESTADUAL">Estadual</option>
        <option value="FEDERAL">Federal</option>
      </select>

      <p>Escolheu a Conta Errada ? <u (click)="backtochoose()">Clique Aqui</u></p>

      <button class="final-btn" (click)="criarMediador()">Criar Minha Conta</button>
    </div>

  </main>

</section>
<app-footer-s/>